<img src="IMDB_Logo.png"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>
    
# IMDb Top 250 Movies

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

### Importing packages

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from csv import reader
from urllib.request import urlretrieve

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

### Get the data

In [2]:
# EXTRACT: GET THE DATA
def get_data(searchTerm):
    url = f'https://www.imdb.com/chart/{searchTerm}'
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

### Parse the data

In [3]:
# TRANSFORM: PARSE THE DATA
def parse(soup, searchTerm):
    moviesList = []
    results = soup.find('tbody', class_="lister-list").find_all('tr')
    #print(len(results))
    
    if (searchTerm=='toptv'):
        for item in results:
            movie = {
                'Rank': item.find('td', class_="titleColumn").get_text(strip=True).split('.')[0],
                'Title': item.find('td', class_="titleColumn").a.text,
                'Year': item.find('td', class_="titleColumn").span.text.strip('()'),
                'Rating': item.find('td', class_="ratingColumn imdbRating").strong.text,
                #'Rating': item.find('td', class_="ratingColumn imdbRating").get_text(strip=True),
                #'Director': item.find('td', class_="titleColumn").a['title'].split(',')[0].replace(' (dir.)',''),
                'Actors': item.find('td', class_="titleColumn").a['title'].strip(),
                'Number of User Ratings': item.find('td', class_="ratingColumn imdbRating").strong['title'].split()[3].strip('\"').replace(',',''),
            }
            moviesList.append(movie)
        
    else:
        for item in results:
            movie = {
                'Rank': item.find('td', class_="titleColumn").get_text(strip=True).split('.')[0],
                'Title': item.find('td', class_="titleColumn").a.text,
                'Year': item.find('td', class_="titleColumn").span.text.strip('()'),
                'Rating': item.find('td', class_="ratingColumn imdbRating").strong.text,
                #'Rating': item.find('td', class_="ratingColumn imdbRating").get_text(strip=True),
                'Director': item.find('td', class_="titleColumn").a['title'].split(',')[0].replace(' (dir.)',''),
                'Actors': item.find('td', class_="titleColumn").a['title'].split(',',1)[1].strip(),
                'Number of User Ratings': item.find('td', class_="ratingColumn imdbRating").strong['title'].split()[3].strip('\"').replace(',',''),
            }
            moviesList.append(movie)
    
    return moviesList

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

### Load the data

In [4]:
#LOAD: SAVE THE DATA
def output(productsList, searchTerm):
    productsdf = pd.DataFrame(productsList)
    productsdf = productsdf.to_csv(searchTerm + '-output.csv', index=False)
    print('Saved to '+ searchTerm + '-output.csv')
    return

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

In [5]:
searchList = ['toptv','top-english-movies', 'top', 'bottom']

for searchTerm in searchList:
    soup = get_data(searchTerm)
    productsList = parse(soup, searchTerm)
    output(productsList, searchTerm)

Saved to toptv-output.csv
Saved to top-english-movies-output.csv
Saved to top-output.csv
Saved to bottom-output.csv

![green-divider](http://localhost:8888/files/Downloads/Web_Scraping/divider.png)

### Loading the files into a DataFrame

In [7]:
urlretrieve('http://localhost:8888/edit/Downloads/Web_Scraping/top-english-movies-output.csv')
topEnglishMovies= pd.read_csv('top-english-movies-output.csv' , index_col=0)
topEnglishMovies.head()

,Title,Year,Rating,Director,Actors,Number of User Ratings
Rank,,,,,,
1,The Shawshank Redemption,1994,9.3,Frank Darabont,"Tim Robbins, Morgan Freeman",2592177
2,The Godfather,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino",1787460
3,The Dark Knight,2008,9.0,Christopher Nolan,"Christian Bale, Heath Ledger",2563022
4,The Godfather: Part II,1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro",1233444
5,12 Angry Men,1957,9.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb",765748

In [8]:
topTvShows= pd.read_csv(r'C:\Users\Leslie Sequeira\Downloads\Web_Scraping\toptv-output.csv' , index_col=0)
topTvShows.head()

,Title,Year,Rating,Actors,Number of User Ratings
Rank,,,,,
1,Planet Earth II,2016,9.4,"David Attenborough, Chadden Hunter",132463
2,Breaking Bad,2008,9.4,"Bryan Cranston, Aaron Paul",1738809
3,Planet Earth,2006,9.4,"Sigourney Weaver, David Attenborough",199038
4,Band of Brothers,2001,9.4,"Scott Grimes, Damian Lewis",444422
5,Chernobyl,2019,9.3,"Jessie Buckley, Jared Harris",700005

In [9]:
bottomMovies= pd.read_csv(r'C:\Users\Leslie Sequeira\Downloads\Web_Scraping\bottom-output.csv' , index_col=0)
bottomMovies.head()

,Title,Year,Rating,Director,Actors,Number of User Ratings
Rank,,,,,,
1,Disaster Movie,2008,2.1,Jason Friedberg,"Carmen Electra, Vanessa Lachey",91076
2,Manos: The Hands of Fate,1966,2.2,Harold P. Warren,"Tom Neyman, John Reynolds",36223
3,Superbabies: Baby Geniuses 2,2004,2.3,Bob Clark,"Jon Voight, Scott Baio",30989
4,Birdemic: Shock and Terror,2010,2.3,James Nguyen,"Alan Bagh, Whitney Moore",23249
5,The Hottie & the Nottie,2008,2.4,Tom Putnam,"Paris Hilton, Joel David Moore",38224

In [10]:
topMovies= pd.read_csv(r'C:\Users\Leslie Sequeira\Downloads\Web_Scraping\top-output.csv' , index_col=0)
topMovies.head()

,Title,Year,Rating,Director,Actors,Number of User Ratings
Rank,,,,,,
1,The Shawshank Redemption,1994,9.2,Frank Darabont,"Tim Robbins, Morgan Freeman",2592177
2,The Godfather,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino",1787460
3,The Dark Knight,2008,9.0,Christopher Nolan,"Christian Bale, Heath Ledger",2563022
4,The Godfather: Part II,1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro",1233444
5,12 Angry Men,1957,8.9,Sidney Lumet,"Henry Fonda, Lee J. Cobb",765748